.header {
  padding: 5px 120px;
  width: 150px;
  height: 70px;
  background-color: #236b8e;
}

.border {
  padding: 80px 50px;
  width: 400px;
  height: 450px;
  border: 1px solid #236b8e;
  border-radius: 0px;
  background-color: #9ac0cd;
}

.btn {
  padding: 10px 40px;
  background-color: #236b8e;
  color: #ffffff;
  font-style: oblique;
  font-weight: bold;
  border-radius: 10px;
}

.textbox {
  padding: 10px 40px;
  background-color: #236b8e;
  text-color: #ffffff;
  border-radius: 10px;
}

::placeholder {
  color: #ffffff;
  opacity: 1;
  font-style: oblique;
  font-weight: bold;
}

.word {
  color: #ffffff;
  font-style: oblique;
  font-weight: bold;
}

.bottom {
  color: #236b8e;
  font-style: oblique;
  font-weight: bold;
}

.Welcome{
  color: rgb(19, 19, 137);
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  text-align: center;
}

.box{
  width: 320px;
  height: 140px;
  padding: 20px;
}

.upload_image_text{
  color: rgb(236, 231, 231);
  font-size: 18px;
}

.body {
  background: linear-gradient(to right, #ffa500 0%, #ff6347 50%, #c02942 100%);
  background-size: cover;
  height: 20vh;
}
.body-result{
  background: linear-gradient(to right, #ffa500 0%, #ff6347 50%, #c02942 100%);
  background-size: cover;
  height: 100vh;
}
.arrow{
  color: gold;
  margin-top: 18px;
}

.image_text{
  color: rgb(255, 157, 0);
}
.caption_text{
  color: white;
}
.blue{
  color: blue;
}
.generator_text{
  color: rgb(7, 84, 7);
}
.caption{
  background-color: black;
  padding: 20px;
  width: 470px;
  height: 100px;
}
.caption-text{
  color: white;
  font-size: 24px;
}
.caption-text-styling{
  color: red;
}
.padding{
  padding: 100px;
}
.image{
  height: 350px;
  width: 470px;
}
.margin-left{
  padding-left: 500px;
}